<%= form_for @user, url: {action: "edit"}, html: { multipart: true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>  
  <%= f.text_field :email %>
  <%= f.text_area :bio %>
  Add Your <%= f.label :avatar %>:
  <%= f.file_field :avatar %>
  <%= f.text_field :location_lat %>
  <%= file_field_tag "photos[]", type: :file, multiple: true %>
  <%= f.text_field :location_lon %>
  <%= f.submit "Update" %>
<% end %>