<div class="container">
<h1>Edit Details</h1>
<%= form_for @user, url: user_path(@user), html: { multipart: true }, :method => :PUT do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>:
    <%= f.text_field :name, class: "form-control" %>
  </div> 
  <div class="form-group">
    <%= f.label :email %>:
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :bio %>:
    <%= f.text_area :bio, class: "form-control" %>
  </div>
  <div class="form-group">
    Add Your <%= f.label :avatar %>:
    <%= f.file_field :avatar, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label 'Distance you are prepared to travel' %>:
    <%= f.text_field :distance_to_travel, class: "form-control" %>
  </div>

<div class="form-group">
    <%= f.label "Add Some Profile Tags" %>
    <%= f.collection_select(:skill_ids, Skill.order(:name), :id, :name, {}, {multiple: true, class: 'multiselect'}) %>
  </div>

  <div class="form-group">
    <%= f.label :location_lat %>:
    <%= f.text_field :location_lat, class: "form-control" %>
    <%= f.label :location_lon %>:
    <%= f.text_field :location_lon, class: "form-control" %>
  </div>
  <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>

<h1>Add New Photos</h1>

<%= form_for [@user,@photo], url: user_photos_path(@user), html:{ multipart: true, class: "dropzone", id: "imageuploader" } do |f| %>
  
<% end %>


<h1>Delete Photos</h1>
<div class="photos">
<% @user.photos.each do |photo| %>
  <div class="thumb" style="background-image:url(<%= photo.image.url(:medium) %>)">
  <%= link_to 'X', user_photo_path(@user, photo), data: {:confirm => 'Are you sure?'}, :method => :delete, class: "link", image_id: photo.id %>
  </div>
<% end %>
</div>
</div>


<script>
  Dropzone.options.imageuploader = {
    paramName: "photo[photos][]", // The name that will be used to transfer the file
    maxFilesize: 5, // MB
    accept: function(file, done) {
      if (file.name == "justinbieber.jpg") {
        done("Naha, you don't.");
      }
      else { done(); }
    }
  };

  $(document).ready(function(){
  $('.multiselect').chosen({disable_search_threshold: 10, no_results_text: 'No results matched', width: '100%'});
});

  
</script>