
<% if user_signed_in? %>
    <p>Welcome, <%= current_user.name %>! </p><br>
    <%= link_to "Edit Profile" , "users/#{current_user.id}/edit" %><br>

    <div class="welcome-container">
        <% @users.each do |chef| %> 
            <a href = "users/<%= chef.id %>" class="chef-link" >
                <div class="avatar" style="background-image:url(<%= chef.avatar.url %>);"></div>
                <p><%= chef.name %></p>
            </a>
        <%end%>
    </div>
<% else %> 

    <div class="hero">
        <div id="carousel">
          <div class="hero" style="background-image:url(/images/hero/break.jpg);"></div>
          <div class="hero" style="background-image:url(/images/hero/chili.jpg);"></div>
          <div class="hero" style="background-image:url(/images/hero/header.jpg);"></div>
        </div>
        <div class="hero-buttons">
            <%= link_to('Login', new_user_session_path) %>
        </div>
        <div class="col-50 welcome-text">
            <h1>Go Chef!</h1>
            <span>Connecting you with cooks</span> 
        </div>
        <div class="col-50">
        </div>
    </div>

    <div class='home-chefs'>
        <div tyle="background-color: pink;height: 300px" class='chef-list col-50'>
             <% @users.each do |chef| %>
                <a href="users/<%= chef.id %>" class="user-profile">
                    <div class="avatar"></div>
                    <p><%= chef.name %></p>
                </a>          
            <% end %>
        </div>

        <div style="background-color: pink; height: 300px;" class="col-50">
            
        </div> 

    </div>

<% end %>
<script>
    var Carousel = function(id){
    console.log(this);
    console.log(document);
    var self = this;
    this.el = document.getElementById(id);
    console.log(this.el);
    this.imgs = this.el.querySelectorAll('div');
    console.log(this.imgs);
    this.currentImage = 0;  
    this.imgs[this.currentImage].classList.add('show');  
    window.setInterval(function(){ self.advanceImg() }, 5000);
  }
  Carousel.prototype.advanceImg = function(){
    this.currentImage++;
    if(this.currentImage === this.imgs.length){
      this.currentImage = 0;
    }
    for(var i=0; i< this.imgs.length; i++){
      if(this.currentImage === i){
        this.imgs[i].classList.add('show');
      }else{
        this.imgs[i].classList.remove('show');
      }
    }
  }

myCarousel = new Carousel("carousel");
</script>