<p>Welcome, <%= current_user.name %>! </p><br>
<%= link_to "Edit Profile" , "users/#{current_user.id}/edit" %><br>

<div class="welcome-container">
    <% @users.each do |chef| %> 
        <a href = "users/<%= chef.id %>" class="chef-link" >
            <div class="avatar" style="background-image:url(<%= chef.avatar.url %>);"></div>
            <p><%= chef.name %></p>
        </a>
    <%end%>
</div>