<div class="container show-profile">
    <p><%= @user.email %></p>
    <p><%= @user.name %></p>

    <div class="avatar" style="background-image:url(<%= @user.avatar.url %>);"></div>

    <p><%= @user.bio %></p>
    <p><%= @user.location_lat %></p>
    <p><%= @user.location_lon %></p></div>
</div>